# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.eggs/
*.whl

# Virtual Environment
.venv/
venv/
env/

# Node
node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.production

# Docker
docker-compose.override.yml

# Secrets
*.pem
*.key
*.crt
nginx/ssl/*.pem
nginx/ssl/*.key

# Database
*.sql.gz
backups/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/
coverage.xml

# Logs
*.log

# Tor
tor/hidden_service/

# Uploads
backend/uploads/*
\!backend/uploads/.gitkeep
aitema-hinweis/
globaleaks-upstream/
.claude/worktrees/
